asn1crypto==0.24.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
configobj==5.0.6
cryptography==2.1.4
docopt==0.6.2
enum34==1.1.6
Flask==1.1.1
geojson==2.3.0
grip==4.5.2
idna==2.8
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
Markdown==3.1.1
MarkupSafe==1.1.1
mysql-connector-python==2.1.6
paramiko==2.0.0
path-and-address==2.0.1
pexpect==4.2.1
pipreqs==0.4.10
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.5.1
pygobject==3.26.1
pyodbc==4.0.17
pyowm==2.9.0
pyparted==3.11.1
pysqlite==2.7.0
python-apt==1.6.3+ubuntu1
python-xlib==0.20
pyxdg==0.25
requests==2.22.0
setproctitle==1.1.10
six==1.11.0
urllib3==1.25.7
Werkzeug==0.16.0
yarg==0.1.9
